BasedOnStyle: Google

AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false

ColumnLimit: 80
IndentWidth: 4

AllowShortIfStatementsOnASingleLine: Never
InsertBraces: true